html {
   background: url('../img/background.png') center no-repeat;
   background-size: cover;
   background-attachment: fixed; 
}

body{
    margin: 0px;
}

#header {
    background: #222222;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 72px;
    overflow: hidden;
}

.menuItem {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: lime;
    font-family: 'Zilla Slab Highlight', sans-serif;
    font-size: 25px;
}

.menuItem.active {
   color: magenta;
}

.menuItem:hover {
   color: magenta;
   cursor: pointer;
}


.content {
   padding-top: 77px;
}

a {
   text-decoration: none;
}

